@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}



.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
  
  
}

video {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

.showcase{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
  .showcase.active
  {
    right: 300px;
  }

  header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
      
  }

h3{
    
    text-transform: uppercase;
    color: white;
    font-size: x-large;
}

 .toggle{
     
      display: flex;
      left: 10px;
      width: 40px ;
      height: 60px;
      
      background-image: url(https://i.ibb.co/HrfVRcx/menu.png);
      background-repeat: no-repeat;
      background-size: 30px;
      background-position: center;
      cursor: pointer;
      z-index: 2;  
} 

.toggle.active{
background-image: url(https://i.ibb.co/rt3HybH/close.png);
cursor: pointer;
}

.menu
{
  position: fixed;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
}
.menu ul
{
  position: relative;
  left: 300px;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color:  #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
  
}
.menu.active{
    transform: translateX(-300px);
}

  .title
{

    position: absolute;
    top: 15rem;
    width: max-content;
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.description{
    position: absolute;
    top: 25rem;
    color: white;
}



.btn {
    position: absolute;
    display: inline-block;
    height: max-content;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    bottom: 12rem;
    left: 6rem;
    transition: 0.2s;
}

.btn:hover{
    letter-spacing: 4px;
} 

 .social{
     position: absolute;
     display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    bottom: 20px;
      
}

.social li{
    list-style: none;
    padding: 5px;
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.5);
    transition: 0.5s;
    
}

.social li:hover{
    transform: scale(0.5) translateY(-15px);
}
